{% extends "base.html" %}
 
{% block content %}
{% if uav_list %}
<table id="table" class="table table-bordered table-striped">
    <thead>
        <th>Marka</th>
        <th>Model</th>
        <th>Ağırlık</th>
        <th>Resim</th>
        <th>Kategori</th>
        <th>Kiralama</th>
    </thead>
    <tbody>
    {% for uav in uav_list %}
        <tr>
            
            <td>{{uav.Brand}}</td>
            <td>{{uav.Model}}</td>
            <td>{{uav.Weight}}</td>
            <td>{{uav.Image}}</td>
            <td>{{uav.CategoryID}}</td>
            <td><a href="{% url 'rental' uav.UavID %}" class="btn btn-outline-success" role="button">Kirala</a></td>
           
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{% endif %}
{% endblock %}

