{% extends 'rentalbase.html' %}
{% block content %}
<table id="rentaltable"  class="table table-bordered">
    <! Datatable ile kiralama kayıtları listelenmiştir.--> 
    <thead class="alert-success">
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Başlangıç</th>
            <th>Bitiş</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for rental in rentals %}
        <tr>
            <td>{{ rental.UavID.BrandID}}</td>
            <td>{{ rental.UavID.ModelID }}</td>
            <td>{{ rental.BeginDate }}</td>
            <td>{{ rental.EndDate }}</td>
            <td><center><a class="btn btn-sm btn-secondary" href="{% url 'editRental' rental.RentalID %}" role="button" name="{{ rental.RentalID }}">Düzenle</a> <a class="btn btn-sm btn-danger delete" href="{% url 'confirmDelete' rental.RentalID %}" role="button"  name="{{ rental.RentalID }}">Sil</a></center></td>
        <! RentalID bilgisiyle düzenleme ve silme işlemlerinin yapılması sağlanmıştır--> 
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
