{% extends 'rentalbase.html' %}

{% block content %}
<form class="form-inline" action="createRental" method="POST">
    {% csrf_token %}
    <! Kiralama işleminin yapılması için İHA ve müşteri bilgileri gizli bir şekilde tutulmuştur.--> 
    <input type="hidden" name="UavID" value="{{ uav.UavID }}"/>
    <input type="hidden" name="CustomerID" value="{{ request.user.id}}"/>
    <div class="container mt-3 form-group">
        <div class="row">
            <div class="col-3">
                <h1 class="h3">{{ uav.BrandID.BrandName }}</h1>
                <p>
                    {{ uav.ModelID.ModelName }}
                </p>
            <div class="mb-3">
                <div class="mb-3"><label class="form-label" for="id_date">Başlangıç Zamanı</label><div class="input-group dbdp">
                   <input class="form-control" placeholder="" name="BeginDate" type="datetime-local" id="BeginDate" value="">
</div>

<div class="mb-3">
 <div class="mb-3"><label class="form-label" for="id_date">Bitiş Zamanı</label><div class="input-group dbdp">
    <input class="form-control" placeholder="" name="EndDate" type="datetime-local" id="EndDate" value="">

    <! Tarih ve saat bilgilerinin datetimepicker ile istenen formatta girilmesi sağlanmıştır--> 
        <script>
            $(document).ready(function() {
       if (!Modernizr.touch || !Modernizr.inputtypes.date) {
         $('input[type="datetime-local"]').each(function() {
           var defaultVal = $(this).val();
           console.log(this.name, defaultVal);
           $(this).attr('type', 'text').val(moment(defaultVal).format('M/D/YYYY h:mm A')).datetimepicker({
               format: 'M/D/YYYY h:mm A',
               widgetPositioning: {
                 horizontal: "bottom",
                 vertical: "auto"
               }
             });
         });
       }
     });
            </script>
    </div>
      

      <button type="submit" id="createRental" class="btn btn-primary mt-3">Kirala</button>
        </div>
    </div>
</form>
   
{% endblock %}
