{% extends 'base.html' %}
 
{% block content %}
<main class="form-signin">
    <div class="row">
      <div class="col-3" style="margin:auto;position: relative;">
    <h2 class="text-center">Kayıt Ekranı</h2> {{ msg }}
    <form method="post">
        <div class="col-8" style="margin:auto;position: relative;">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    </div>
    <button class="w-100 btn btn-success" type="submit">Kayıt</button>
</form>
</div>
<div>
{% endblock %}
